<html>
    <head>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>

        <form method="GET" action="/signin">

            <input type="text" name="username"/>
            <input type="text" name="password"/>

            <input type="submit" value="Sign In"/>
            
        </form>


        <form method="GET" action="/register">

            <input type="text" name="username"/>
            <input type="text" name="password"/>

            <input type="submit" value="Register"/>
            
        </form>


       


        <!-- Below code shows movies/Shows in the DB -->

        <!-- <h1>Saved Movies: </h1>
        {% for i in range(num_movie) %}
            
            <ol><b>{{movie[i].movie_name}} </b></ol>
            
        {% endfor %} -->

        



    </body>



</html>